body{
    font-family: myFirstFont;
}
@font-face {
     font-family: myFirstFont;
    src: url('JF-Flat-regular.ttf');
}

.jumbotron{
    background-color:#595f68;
}

footer {
    background-color: #595f68;
    color:#fff;
    margin-top:200px;
}

.caption{
    color:#000;
}

.caption strong{
    color:#4c4cff;
}

.carousel{
    width:100%;
    height: 100%;

}
.carousel img{
    width:100%;
}

.card{
    background-color: transparent;
}
.thumbnail{
    height:150px;
}

.carousel-indicators img{
    border: 1px solid #fff;
    width:100px;
    height:100px;
}

.comment-container{
    list-style-type: none;
}

@media (min-width: 768px) {
    .navbar-left{
    position: absolute;
    left: 10%;
  }
}